#top{
	margin: 40px auto;
	background-image: url(../img/logo.png);
	width: 242px;
	height:60px;
	background-repeat: no-repeat;
}
.matter{
	margin: 100px auto;
	background-image: url(../img/bigback.jpg);
	background-repeat: no-repeat;
	/* float: left; */
	width: 100%;
	margin: 8px;
	height: 620px;
	
}
#wrap {
	height: 500px;
	width: 350px;
	float:right;
	margin: 60px 100px;
	/* position: relative; */
	/* background-color: #000000; */
}



.logGet {   /*登录白框设置*/
	height: 548px;
	width: 368px;  
	/* position: absolute; */
	background-color:transparent;
	top: 10%;
	right: 15%;
}
.logC a button {  /*登入框*/
	width: 100%;
	height: 45px;
	background-color: #ee7700;
	border: none;
	color: white;
	font-size: 18px;
}

.lgD input { /*输入框中的字*/
	width: 100%;
	height: 42px;
	text-indent: 40px;
}
.lgD {  /*定义输入框*/
	width: 86%;
	position: relative;
	margin-bottom: 30px;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
}
#wrap .logGet .logC { /*登入框*/
	width: 86%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}


 .dao2{
	 font-size: 16px;
	 float: right;
	 margin-top: 25px;
	 margin-right: 110px;
	 /* margin: 15px auto; */
 }   
.dao3{
	font-size: 11px;
	float: right;
	margin-top: 15px;
	margin-right: 150px;
}
.dao4{
	clear: both;
	display: block;
	text-align: center;
	margin: 0px 550px auto;
	position: absolute;
	bottom: -100px;
}
.a3{
	clear: both;
	display: block;
    text-align: center;
	margin: 0px 400px auto;
	position: absolute;
    bottom: -120px;    
}
