.footer{
    margin-top: 20px;
    width: 100%;
    height: 265px;

}

.footer_service{
    width: 1226px;
    height: 80px;

    border-bottom: 1px solid #e0e0e0;

    margin: 0 auto;

    padding-top: 25px;

}

.footer_service ul li{

    float: left;

    width: 242px;

    height: 30px;

    text-align: center;

    border-right: 1px solid #e0e0e0;
    list-style: none;

}

.footer_service ul li a {

    text-decoration: none;

    font-size: 16px;

    color: #616161;

    position: relative;

    top: -8px;

}

.footer_service ul li a:hover {

    color: #ff6700;

}

.footer_link{

    width: 1226px;

    height: 192px;

    padding: 40px 0;

    margin: 0 auto;

}

.footer_help{

    float: left;

    width: 974px;

    height: 112px;

}

.footer_tel{

    float: left;

    width: 251px;

    height: 112px;

    border-left: 1px solid #e0e0e0;

}

.footer_help dl{

    float: left;

    width: 160px;

    height: 112px;

}

.footer_help dl dt{

    width: 160px;

    height: 17px;

    margin: -1px 0 26px 0;

    font-size: 14px;

    color: #424242;

}

.footer_help dl dd{

    width: 160px;

    height: 18px;

    margin: 10px 0 0;

    font-size: 12px;

}
.footer_help dl dd a:hover{
    color: #FF6700;
}
.footer_help a{

    text-decoration: none;

    color: #757575;

}

.footer_tel .tel{

    width: 251px;

    height: 22px;

    margin: 0 0 5px;

    font-size: 22px;

    color: #ff6700;

    text-align: center;

}

.footer_tel .time{

    width: 251px;

    height: 36px;

    margin: 0 0 16px;

    font-size: 12px;

    color: #616161;

    text-align: center;

}

.footer_tel a{

    margin: 0 auto;

    text-align: center;

    text-decoration: none;

    display: block;

    width: 118px;

    height: 28px;

    font-size: 12px;

    color: #ff6700;

    line-height: 28px;

    background-color: #fff;

    border: 1px solid #ff6700;

}

.footer_tel a:hover{

    color: #fff;

    background-color: #f25807;

    border: 1px solid #f25807;

}

.site_info{

    width:100%;

    height: 172px;

    padding: 30px 0;

    background-color: #f5f5f5;

}

.bottom_info{

    width: 1226px;

    height: 119px;

    margin: 0 auto;


}

.bottom_text{

    float: left;

    width: 1159px;

    height: 119px;

}

.bottom_nav{


    width: 1159px;

    height: 38px;

}

.bottom_nav a{

    text-decoration: none;

    line-height: 19px;

    font-size: 15px;

    color: #757575;

}

.bottom_nav a:hover{

    color: #ff6700;

}

.bottom_nav span{

    color: #b0b0b0

}

.bottom_info_text{

    width: 1159px;

    height: 85px;

    font-size: 15px;

    color: #333;

}

.bottom_info_text a{

    text-decoration: none;
    color: #757575;

}

.bottom_info_text a:hover{

    color: #ff6700;

}

.bottom_link img{
    width: 85px;
    height: 28px;
    margin-bottom: 30px;

}