.header{
	width: 100%;
	height: 110px;
	/* background-color: blue; */
}
.container2{
	width: 1226px;
	height: 110px;
	margin: 0 auto;
}
.header_logo{
	width:242px ;
	height: 60px;
	margin-top:24px ;
	margin-right:150px;
	float: left;
	background-image: url(../img/logo.png);
}

/* .direct{
	width: 1100px;
	height: 110px;
	float: left;
	position:relative;

}
.direct .director{
	width: 600px;
	height: 30px;
	position: absolute;
	left: 12.5%;
	top: 40%;

	
}
.direct .director a{
	font-size: 16px;

	font-family: ;
	color: black;
	text-align: center;
	
	text-decoration: none;
}
.direct .director a:hover{
	color: #ff6700;
} */
.search{
	width: 400px;
	height: 60px;
	float: left; 
	border: none;
	margin: 20px auto;

}


.search input {
	/*width: 230px;
	height: 50px;
	border: 2px solid #7BA7AB;
	border-radius: 5px;*/
	border: 2px solid rgb(25,145,210);
	width: 350px;
	height: 40px;
	float: left;
	background: white;
}
.search button {
	top: 0;
	right: 0;
	width: 50px;
	height: 40px;
	background-color: rgb(25,145,210) ;
}
.search button:before {
	content: "\f002";
	font-family: FontAwesome;
	font-size: 16px;
	color: white;
	
}
#phone{
	float: right;
	font-size: 20px;
	margin-top:30px;
}
