/* 清除格式 */
* {
 	padding: 0;
 	margin: 0;
 }

 ul {
 	list-style: none;
 }

.sep {   /* 顶部分割线样式 */
    width: 3.22px;
    font: 16px/40px "Microsoft YaHei";
    color: #424242;
    margin: auto 2px;
}
.topBar {	/* 顶部黑色铺满 */
	height: 40px;
	background: #333;
}
.container {	/* 导航栏中的内容（置中 */
    width: 1226px;
	height: 40px;
    margin: 0 auto;		
}

.topBar_left {		/* 导航栏中的左部分内容 */
	width: 800px;
    height: 40px;
	float: left;
	tBext-align: center;
}

.topBar_left a {
 	font-size: 12px;
 	font-weight: border;
 	color: #b0b0b0;
 	text-decoration: none;
	
	line-height: 40px;
 }

 .topBar_left a:hover { /* 悬停变白 */
 	color: #fff;
 }
 
 
 
 
 /* container的右半部分 */
 


 .user_info {		/* 登陆注册消息 */
	position: relative;
	width: 200px;
	height: 40px;
	float: right;
 }

 .user_info a {
	position: absolute;
	bottom: 12px; 
 	font-size: 14px;
 	font-weight: border;
 	color: #b0b0b0;
 	text-decoration: none;
 }

 .user_info a:hover {
 	color: #fff;
 }